.container{
    width:80%;
    margin:0 auto;
}

#calcolatrice{
    width:20%;
    margin: 300px auto;
    border:5px solid orange;
    border-radius: 10%;
    font-size: 1.5rem;
    display:grid;
    grid-template-areas: "display display display display"
                         "t_7 t_8 t_9 t_div"
                         "t_4 t_5 t_6 t_per"
                         "t_1 t_2 t_3 t_minus"
                         "t_azzera t_0 t_virg t_plus"  
                         "t_result t_result t_result t_result" 
                            ;
    justify-items: center;
}
#calcolatrice button{
    font-size:2rem;
    border-radius: 10%;
    width:3rem;
    
}
#display{
    height: 3rem;
    width:15rem;
    grid-area: display;
}

#t_result{
    grid-area:t_result;
    width:200px;
}
#t_1{
    grid-area: t_1;
}
#t_2{
    grid-area: t_2;
}
#t_3{
    grid-area: t_3;
}
#t_4{
    grid-area: t_4;
}
#t_5{
    grid-area: t_5;
}
#t_6{
    grid-area: t_6;
}
#t_7{
    grid-area: t_7;
}
#t_8{
    grid-area: t_8;
}
#t_9{
    grid-area: t_9;
}
#t_0{
    grid-area: t_0;
}
#t_plu{
    grid-area: t_plus;
}
#t_minus{
    grid-area: t_minus;
}
#t_per{
    grid-area: t_per;
}
#t_div{
    grid-area: t_div;
}
#t_azzera{
    grid-area: t_azzera;
}
#t_virg{
    grid-area: t_virg;
}

